In [11]:
import pandas as pd

In [7]:
df = pd.read_csv('laptopData.csv')

In [7]:
df.head()

,Unnamed: 0,Company,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price
0,0.0,Apple,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,71378.6832
1,1.0,Apple,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,47895.5232
2,2.0,HP,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,30636.0000
3,3.0,Apple,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,135195.3360
4,4.0,Apple,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,96095.8080

In [12]:
df.shape

(1303, 12)

In [13]:
df.nunique()

Unnamed: 0          1273
Company               19
TypeName               6
Inches                25
ScreenResolution      40
Cpu                  118
Ram                   10
Memory                40
Gpu                  110
OpSys                  9
Weight               189
Price                777
dtype: int64

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1303 entries, 0 to 1302
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        1273 non-null   float64
 1   Company           1273 non-null   object
 2   TypeName          1273 non-null   object
 3   Inches            1273 non-null   object
 4   ScreenResolution  1273 non-null   object
 5   Cpu               1273 non-null   object
 6   Ram               1273 non-null   object
 7   Memory            1273 non-null   object
 8   Gpu               1273 non-null   object
 9   OpSys             1273 non-null   object
 10  Weight            1273 non-null   object
 11  Price             1273 non-null   float64
dtypes: float64(2), object(10)
memory usage: 122.3+ KB

In [15]:
df['TypeName'].value_counts()

TypeName
Notebook              710
Gaming                203
Ultrabook             191
2 in 1 Convertible    116
Workstation            29
Netbook                24
Name: count, dtype: int64

In [21]:
data = pd.read_csv('Ordenadores.csv')

In [22]:
# Extraer la columna de "Marca" basada en las columnas disponibles
marca_cols = [col for col in data.columns if "marca: _" in col]
data['Marca'] = data[marca_cols].idxmax(axis=1).str.replace('marca: _', '')

# Extraer la columna de "Marca del Procesador"
procesor_br_cols = [col for col in data.columns if "procesor_br: _" in col]
data['Marca del Procesador'] = data[procesor_br_cols].idxmax(axis=1).str.replace('procesor_br: _', '')

# Extraer la columna de "Modelo del Procesador"
procesador_nombre_cols = [col for col in data.columns if "procesador_nombre: _" in col]
data['Modelo del Procesador'] = data[procesador_nombre_cols].idxmax(axis=1).str.replace('procesador_nombre: _', '')

# Extraer la columna de "Sistema Operativo"
os_cols = [col for col in data.columns if "os: _" in col]
data['Sistema Operativo'] = data[os_cols].idxmax(axis=1).str.replace('os: _', '')

# Eliminar las columnas originales para limpieza
data_clean = data.drop(columns=marca_cols + procesor_br_cols + procesador_nombre_cols + os_cols)

# Mostrar las primeras filas del dataframe modificado para verificar los cambios
data_clean.head()

,ram_gb,ssd,hdd,display_size,price,Marca,Marca del Procesador,Modelo del Procesador,Sistema Operativo
0,8,256,0,14.0,24990.0,avita,amd,apu dual,windows
1,4,0,1024,14.0,20900.0,hp,amd,apu dual,windows
2,32,32,0,14.0,26899.0,hp,amd,athlon dual,windows
3,4,0,1024,15.6,34649.0,asus,intel,core i3,windows
4,4,0,1024,15.6,39999.0,lenovo,intel,core i3,windows

In [28]:
data_clean.to_csv('Ordenadores_upd.csv', index=False)

In [29]:
data_clean.head()

,ram_gb,ssd,hdd,display_size,price,Marca,Marca del Procesador,Modelo del Procesador,Sistema Operativo
0,8,256,0,14.0,24990.0,avita,amd,apu dual,windows
1,4,0,1024,14.0,20900.0,hp,amd,apu dual,windows
2,32,32,0,14.0,26899.0,hp,amd,athlon dual,windows
3,4,0,1024,15.6,34649.0,asus,intel,core i3,windows
4,4,0,1024,15.6,39999.0,lenovo,intel,core i3,windows